---
- name: Configurações Comuns (Base) para todas as máquinas
  hosts: all
  become: true
  vars:
    membros_equipe:
      - luis
      - marcelino

  tasks:
    # --- 1. Atualização e NTP (Mantive igual) ---
    - name: Atualiza o cache do apt
      apt:
        update_cache: yes
        cache_valid_time: 3600

    - name: Define Timezone e instala Chrony
      timezone:
        name: America/Recife
    
    - name: Instala pacotes essenciais
      package:
        name: [chrony, nfs-common, sudo]
        state: present

    # --- 2. Usuários e Chaves (ATENÇÃO AQUI) ---
    - name: Cria o grupo ifpb
      group:
        name: ifpb
        state: present

    - name: Cria usuários da equipe
      user:
        name: "{{ item }}"
        group: ifpb
        shell: /bin/bash
        create_home: yes
        generate_ssh_key: yes
      loop: "{{ membros_equipe }}"

    # [MUDANÇA 1] Apontando para a nova chave Ed25519
    - name: Autoriza a NOVA chave pública (Ed25519)
      authorized_key:
        user: "{{ item }}"
        state: present
        key: "{{ lookup('file', '~/.ssh/id_ed25519.pub') }}"
      loop: "{{ membros_equipe }}"

    - name: Configura sudoers (NOPASSWD)
      lineinfile:
        path: /etc/sudoers
        state: present
        regexp: '^%ifpb'
        line: '%ifpb ALL=(ALL:ALL) NOPASSWD: ALL'
        validate: 'visudo -cf %s'

    # --- 3. SSH Hardening (ATENÇÃO AQUI) ---
    - name: Banner SSH
      copy:
        dest: /etc/ssh/banner
        content: |
          ***********************************************************
          Acesso apenas para pessoas com autorização expressa!!!
          ***********************************************************
        mode: '0644'

    - name: Configurações de segurança do SSHD
      lineinfile:
        path: /etc/ssh/sshd_config
        regexp: "{{ item.regexp }}"
        line: "{{ item.line }}"
        state: present
      loop:
        # [MUDANÇA 2] Habilitado temporariamente para teste!
        - { regexp: '^#?PasswordAuthentication', line: 'PasswordAuthentication no' }
        - { regexp: '^#?PubkeyAuthentication', line: 'PubkeyAuthentication yes' }
        - { regexp: '^#?PermitRootLogin', line: 'PermitRootLogin no' }
        - { regexp: '^#?Banner', line: 'Banner /etc/ssh/banner' }
        - { regexp: '^#?AllowGroups', line: 'AllowGroups vagrant ifpb' }
      notify: restart ssh

  handlers:
    - name: restart ssh
      service:
        name: sshd
        state: restarted
