---
- name: Instala e configura servidores dns e dhcp.
  hosts: all
  become: true

  handlers:
    - name: restart bind
      service:
        name: bind9
        state: restarted

    - name: restart dhcp
      service:
        name: isc-dhcp-server
        state: restarted

  tasks:
    # --- Configuração do DNS (Bind9) ---
    - name: Instala o servidor bind9 e utilitários.
      package:
        name:
          - bind9
          - bind9utils
        update_cache: yes
        state: present

    - name: Habilita o serviço do bind9 no boot.
      service:
        name: bind9
        enabled: yes
        state: started

    - name: Copia arquivos de configuração do Bind9.
      copy:
        src: "{{ item.src }}"
        dest: "{{ item.dest }}"
        mode: 0664
      loop:
        - { src: "named.conf.options", dest: "/etc/bind/named.conf.options" }
        - { src: "named.conf.internal-zones", dest: "/etc/bind/named.conf.internal-zones" }
        - { src: "luis.marcelino.devops.db", dest: "/etc/bind/luis.marcelino.devops.db" }
        - { src: "56.168.192.db", dest: "/etc/bind/56.168.192.db" }
      notify: restart bind

    - name: Inclui zonas internas na configuração default do bind9.
      lineinfile:
        dest: "/etc/bind/named.conf"
        line: 'include "/etc/bind/named.conf.internal-zones";'
        state: present
      notify: restart bind

    # --- Configuração do DHCP ---
    - name: Instala o servidor dhcp.
      package:
        name: isc-dhcp-server
        update_cache: yes
        state: present

    - name: Copia o arquivo de configuração dhcp.
      copy:
        src: "dhcpd.conf"
        dest: "/etc/dhcp/dhcpd.conf"
        mode: 0664
      notify: restart dhcp

    - name: Define a interface de escuta do DHCP (eth1).
      lineinfile:
        dest: "/etc/default/isc-dhcp-server"
        regexp: "^INTERFACESv4"
        line: 'INTERFACESv4="eth1"'
        state: present
      notify: restart dhcp

    - name: Habilita e inicia o serviço do dhcp.
      service:
        name: isc-dhcp-server
        enabled: yes
        state: started
